.implementation {
  display: none;
}
@media screen and (min-width: 1200px) {
  .implementation {
    display: contents;
  }
  .implementation__list {
    display: flex;
    margin-right: -30px;
  }

  .implementation__item {
    flex-basis: calc((100% - 90) / 3);
    margin-right: 30px;
    position: relative;
  }
  .implementation__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }
  .implementation__description {
    position: absolute;
    font-family: var(--main-font);
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--other-color);
    width: 100%;
    bottom: 0;
    padding: 27px;
  }
}
