:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --under-color: #757575;
  --other-color: #ffffff;
  --bg-hf: #2f303a;
  --color-adds: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --td: 250ms;
  --tf: cubic-bezier(0.4, 0, 0.2, 1);
}
